<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995405208654-89jnsvt36v2mkaoa16bbkp4fi0pvqbiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995405208654-89jnsvt36v2mkaoa16bbkp4fi0pvqbiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDlx1bmzhVE7SejS7WkGrqTBmEUUMzEA1c</string>
	<key>GCM_SENDER_ID</key>
	<string>995405208654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chuquimianproductions.OnAir</string>
	<key>PROJECT_ID</key>
	<string>shakespeare-7a4c9</string>
	<key>STORAGE_BUCKET</key>
	<string>shakespeare-7a4c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995405208654:ios:271ba0083bcfd04287371f</string>
	<key>DATABASE_URL</key>
	<string>https://shakespeare-7a4c9.firebaseio.com</string>
</dict>
</plist>